
.fade {
  animation-name: fade;
  animation-duration: .5s;
}

@keyframes fade {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  display: none;
} 


/* Slider  */

.offer__slider {
  user-select: none;
}

.offer__slider-inner {
  width: 650px;
  height: 350px;

  position: relative;
  overflow: hidden;

}

.offer__slide {
  width: 650px;
  height: 350px;
  position: absolute;
  transition: all ease 500ms;

  top: 0;
  left: 0;
}

